[TextToSpeech]
# Connection parameters to your Text to Speech instance
apikey=xxxxxxxxx-xxxxx-xxxxx-xxxxxxxxxxx
service_url=https://....
# `use_bearer_token` is only True in Cloud Pak installations, False otherwise
use_bearer_token=False
# Voices from https://cloud.ibm.com/docs/text-to-speech?topic=text-to-speech-voices
voice=en-US_MichaelV3Voice
;voice=en-US_MichaelV3Voice,en-US_AllisonV3Voice,en-US_EmilyV3Voice,en-US_HenryV3Voice,en-US_KevinV3Voice,en-US_LisaV3Voice,en-US_OliviaV3Voice
voice_selection_mode=all
;voice_selection_mode=random
# Using a customized Text to Speech model is optional
;customization_id=xxxxxxxxx-xxxxx-xxxxx-xxxxxxxxxxx

[Synthesis]
# Directory to store output, will be created if needed
output_dir=synthesis
# File types from https://cloud.ibm.com/docs/text-to-speech?topic=text-to-speech-audio-formats#formats-supported
output_file_type=mp3
# CSV file with two columns: 'id' (used for creating a file with audio), 'text' (the text to synthesize)
input_file = inputfile_to_synthesize.csv
# True to overwrite existing audio files, False otherwise
overwrite = True

#Optional parameter, if provided, creates a reference file for watson-stt-wer-python process
reference_transcriptions_file=reference_transcriptions.csv

[Pronunciation]
# Simple text file with one phrase per line
input_file = words_to_pronounce.txt
# Phonetics from https://cloud.ibm.com/docs/text-to-speech?topic=text-to-speech-symbols
# Use 'ipa' for International Phonetic Alphabet (IPA) and 'ibm' for IBM Symbolic Phonetic Representation
phonetic = ipa
# Output file contains two columns, 'id' and 'text'
# This file is suitable for use in [Synthesis] as `input_file`
output_file=tts_pronounce.csv

[Assistant]
# WA dialog extraction - useful for listening to how Watson Assistant output sounds, to test system output
extract_dialog = True

# WA training data extraction - useful for bootstrapping audio of Watson Assistant training data (inputs), to simulate user input
extract_intents = False
extract_entities = False

# Output CSV file with two columns: 'id' (used for creating a file with audio), 'text' (the text to synthesize)
# This file is suitable for use in [Synthesis] as `input_file`
extracted_skill_text_file=inputfile_to_synthesize.csv

# Provide either an exported copy of your Watson Assistant skill OR connection details to read the skill online
# Exported JSON from Watson Assistant
skill_json_file=myskill.json

# Connection parameters to your Watson Assistant instance
# These are only used if `skill_json_file` is not set
apikey=xxxxxxxxx-xxxxx-xxxxx-xxxxxxxxxxx
service_url=https://....
workspace_id=xxxxxxxxx-xxxxx-xxxxx-xxxxxxxxxxx

# `use_bearer_token` is only True in Cloud Pak installations, False otherwise
use_bearer_token=False


